.team_wrapper {
  background: #f5f4fa;
  padding: 0 15px;
  padding-bottom: 60px;
  @media (min-width: 1100px) {
    padding: 0 12%;
    padding-bottom: 60px;
  }
}
.team_grid {
  display: flex;
  flex-direction: column;

  width: 100%;
  @media (min-width: 553px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }
  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
  }
}
.team_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 60px 0px 30px 0px;
}
.team_card__wrapper {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 15px auto;
  
  height: 100%;
  @media (min-width: 553px) {
    height: 490px;
    margin: 0 auto;
  }
  @media (min-width: 900px) {
    height: 410px;
    margin: 0 auto;
  }

  img {
    width: 100%;
  height: 100%;
    object-fit: cover;
    
    @media (min-width: 553px) {
      height: 300px;
    }
    @media (min-width: 900px) {
      height: 220px;
    }
  }
  h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 25px 0px 15px 0px;
  }
  span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
    display: block;
    text-align: center;
  }
  ul {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  li {
    &:nth-of-type(2) {
      margin: 0 1%;
    }
    &:nth-of-type(3) {
      margin: 0 1%;
    }
  }
}
.team_hover {
  &:hover {
    fill: #2196f3;
  }
}
