.modal_wrapper {
  position: fixed;
  top: 0;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 1;
  width: 480px;
  height: 100%;
  padding-left: 2.5rem;
}
.modal_close {
  position: fixed;
  top: 21px;
  right: 25px;
  fill: black;
  cursor: pointer;
  &:active {
    fill: #2196f3;
  }
}

.modal_nav__menu {
  margin-top: 3rem;

  li {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    cursor: pointer;
    &:hover {
      color: #2196f3;
    }
    &:nth-of-type(1) {
      margin: 0px;
    }
    &:nth-of-type(2) {
      margin: 2rem 0;
    }
  }
}
.modal_nav__contacts {
  margin-top: 10rem;
  li {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;

    margin-top: 6rem;
    &:nth-of-type(2) {
      font-size: 24px;
      line-height: 28px;
      margin-top: 1rem;
    }
  }
  a {
    color: #757575;
    &:hover {
      color: #2196f3;
    }
  }
}
.modal_nav__social {
  margin-top: 4rem;
  display: flex;
  li {
    border-right: 1px solid #21212133;
    padding: 0 10px;
    &:nth-of-type(4) {
      border: 0px;
    }
    &:nth-of-type(1) {
      padding-left: 0px;
    }
  }
  a {
    color: #2196f3;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
  }
}
