.footer_wrapper {
  background: #2f303a;
  max-width: 553px;
  padding: 0 2%;
  height: 580px;
@media (min-width:554px) {
  max-width: 796px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
height:456px;
}
@media (min-width:796px) {
max-width: 1900px;
display: flex;
height: 251px;
}
@media (min-width:796px)  and (max-width: 1050px) {

  height: 400px;
  }
  }

.footer_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  padding: 60px 0 28px 0;
  span {
    color: #2196f3;
  }
  @media (min-width:1050px) {
    text-align: start;
      }
}
.footer_map {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  @media (min-width:1050px) {
    text-align: start;
      }
}
.footer_contacts {
  li {
    text-align: center;
    @media (min-width:1050px) {
      text-align: start;
        }
    &:nth-of-type(1) {
      padding: 12px 0px;
    }
    a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
      
    }
  }
  
}
h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width:1050px) {
    text-align: start;
      }

}
.footer_social {
  display: flex;
  justify-content: center;
 
  a{
    display: flex;
    padding: 0px 5px;
  }
}
.footer_wrapper_input {
  display: flex;
  justify-content: center;
  margin: 0rem 1rem 0rem 0px;
  input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 350px;
    background-color: #2f303a;
    padding-left: 2%;
    height: 50px;
  }
}
.footer_btn {
  display: flex;
  justify-content: center;
  padding: 30px 0px 60px 0px;
  @media (min-width:796px) {
 padding: 0px;
     }
  button {
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }

  .btn_last {
    padding-left: 5px;
  }

}
.block_email{
  display: flex;
  flex-direction: column;

  @media (min-width:796px ) {
   flex-direction: row;
    }
  }

.social_btn__hover{
  fill: white;
  fill-opacity: 1;
  &:hover{
    fill: #3a98e6;
    
  }
}
